
@font-face {
    font-family: digital;
    src: url("digital.ttf");
}

  

.intro {
  background:red;
  font-family: digital;  
}

.button-submit{
border-radius: 5px;
background:white;
color: red;
font-family: digital;


}

.formm{
 text-align: center;
 border-radius:5px;
}

.formm:focus{
background: rgb(255, 180, 180);

}

.fontf{

    font-family:digital;
}

.block {

    display: none;
}

.game-content{
    display:none;
    background:white;
    height: 40vh;
}

.buttn-click {
background: blue;
color: red;

}

.lol {
border-radius: 50px;

}
